@import "resources.scss";
@import "base.scss";

body {
	background-image: url('../img/bg.jpg');
}

.step {
	width: 1000px;
	text-align: center;
	padding-bottom: 100px;

	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
	-ms-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
	transition: opacity 0.8s;

	&:not(.active) {
		opacity: 0.05;
	}

	h1 {
		color: #d73c50;
		font-size: 1em;
	}
	h2 {
		color: #cc8791;
	}
	h1, h2 {
		margin-top: 30px;
		:first-child {
			margin-top: 0;
		}
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
	}
	
	&.active {
		h1 {
			-webkit-transform: scale(1.3);
	    -moz-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	    -o-transform: scale(1.3);
	     transform: scale(1.3);
		}
	}
	.definition {
		margin-top: 60px;
	}
}


pre {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 0.6em;
	line-height: 1.2;
	margin-top: 20px;
	.keyword, .equal {
		color: lighten($color-base-text, 30%);
	}
	.keyword {
		font-weight: bold;
	}
	.highlight {
		background-color: rgba(244,241,130,0.5);
		padding: {
			left: 5px;
			right: 5px;
		}
	}
}

#intro, #outro {
	background: {
		image: url('../img/github.png');
		position: left top;
		repeat: no-repeat;
	}
	padding: {
		bottom: 200px;
		top: 130px;
		left: 80px;
	}
}

#demo {
	width: 700px;
	.seeit {
		font-size: 1.4em;
		display: block;
		margin-top: 35px;
		text-align: right;
		color: #fa4e6d;
		-webkit-transition: 2.5s;
		-moz-transition: 2.5s;
		-ms-transition: 2.5s;
		-o-transition: 2.5s;
		transition: 2.5s;
	}
}
#demo.active {
	.seeit {
		-webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
	}
}

#amd {
	h1 {
		font-size: 0.9em;
	}
}

#esri {
	background: url('../img/esri.png') right bottom no-repeat;
}

#html {
	background: url('../img/html5.png') left bottom no-repeat;
	padding-bottom: 250px;
}